@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&display=swap');

/* themes must be placed in the global.css file only */

/* FONTS */
@theme inline {
  /* Create a tailwind theme token called font-inter whose value comes from the css variable passed in to the html tag in the global layout file */
  --font-inter: var(--font-inter);
  --font-league-gothic: var(--font-league-gothic);
}

/* After defining --color-brand-900 tailwind creates: text-brand-900, bg-brand-900, border-brand-900, fill-brand-900 and stroke-brand-900 */

/* COLOURS */
@theme {
  /* additional neutrals */
  --color-greyscale-700: #888888;
  --color-greyscale-500: #CCCCCC;
  /* neutral-200: #E5E5E5; */

  /* brand */
  --color-brand-900: #1C3F3A;
  --color-brand-500: #3A8275;
  --color-brand-300: #14B8A6;
  --color-brand-200: #E0E9E9;
  --color-brand-100: #E2E2D2;
}

/* BREAKPOINTS */
@theme {
  --breakpoint-xsm: 500px;
}

/* LAYOUTS */
@import "../styles/layout/container.css";
@import "../styles/layout/moduleSpacing.css";

/* TYPOGRAPHY */
@import "../styles/typography/base.css";

/* COMPONENTS */
@import "../styles/components/link.css";
@import "../styles/components/button.css";